<launch>


<node name="diff_tf" pkg="differential_drive" type="diff_tf.py" output="screen"/>


<param name="robot_description" command="cat $(find raspbot_description)/urdf/raspbot.urdf" />



 <!-- Publish TF with robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/gypsy/joint_states" />
  </node>

</launch>

